# Exercise 1

In this exercise, we keep practicing `pandas` skills. We will use the `en.openfoodfacts.org.products.tsv` file to answer the different parts in this exercise.

### Exercise 1(a) (2 points)

Import `pandas` and `numpy` libraries.

In [1]:
import pandas as pd

### Exercise 1(b) (3 points)

Using `read_csv` from `pandas` read the `.tsv` file and assign it a data-frame called `food`. Notice that the `.tsv` is a tab-separated file.

In [4]:
food = pd.read_csv('en.openfoodfacts.org.products.tsv', delimiter='\t')

C:\Users\gmgma\AppData\Local\Temp\ipykernel_17188\2500711972.py:1: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('en.openfoodfacts.org.products.tsv', delimiter='\t')

### Exercise 1(c) (2 points)

Print the first 8 observation of the `food` data-frame.

In [5]:
food.head(8)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de bl√© noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16100,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055651,2017-03-09T10:34:11Z,1489055651,2017-03-09T10:34:11Z,Breadshop Honey Gone Nuts Granola,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,16117,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055730,2017-03-09T10:35:30Z,1489055730,2017-03-09T10:35:30Z,Organic Long Grain White Rice,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,16124,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055711,2017-03-09T10:35:11Z,1489055712,2017-03-09T10:35:12Z,Organic Muesli,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,NaN,NaN

### Exercise 1(d) (2 points)

What is the number of observations in the `food` data-frame?

In [7]:
food.shape

(356027, 163)

### Exercise 1(e) (2 points)

Report the name of all the columns of the `food` data-frame.

In [10]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Exercise 1(f) (2 points)

What is the name of 105th column?

In [24]:
food.columns[104]

'-glucose_100g'

### Exercise 1(g) (2 points)

What is the type of the observations of the 105th column?

In [25]:
food.dtypes[104]

C:\Users\gmgma\AppData\Local\Temp\ipykernel_17188\2263273533.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  food.dtypes[104]

dtype('float64')

### Exercise 1(h) (2 points)

What is the `product_name` of the 21th observation?

In [35]:
food['product_name'][20]

'Energy Power Mix'

# Exercise 2

In this exercise, we will practice two important software engineering principles:

- **DRY (don't repeat yourself)**
    - Principle when writing functions (and coding in general): functions most be concise, clear and non-repetitive.
    - When we start repeating ourselves in code, it is often the signal that we need to write a function to prevent this.

- **DOT (do one thing)**
    - Any function should only have 1 responsability : for instance, load data (this is 1), process data (this is another 1), plot the data (another 1)
    - Try as much as possible to avoid functions that do everything.
 
### Exercise 2(a) (4 points)

Create a data-frame called `df` that contains four columns called `gpa_y1`, `gpa_y2`, `gpa_y3`, and `gpa_y4`. Fill these four columns with 20 random gpa values from 1.0 to 4.0 using the [random uniform](https://numpy.org/doc/stable/reference/random/generated/numpy.random.uniform.html) function from `numpy`. Notice that `df` is a `pandas` data-frame where each row is a student with 4 columns of yearly student GPAs.

In [45]:
import numpy as np

data = {
    'gpa_y1': np.random.uniform(1.0, 4.0, 20),
    'gpa_y2': np.random.uniform(1.0, 4.0, 20),
    'gpa_y3': np.random.uniform(1.0, 4.0, 20),
    'gpa_y4': np.random.uniform(1.0, 4.0, 20),
}

df = pd.DataFrame(data)
print(df)

      gpa_y1    gpa_y2    gpa_y3    gpa_y4
0   3.577228  3.915520  1.060338  1.626300
1   2.947124  3.207151  2.392038  3.689616
2   1.188600  1.612535  3.300089  1.555060
3   1.441064  1.876819  2.152659  1.009552
4   1.357139  1.363146  3.409909  3.571896
5   1.878675  3.502580  3.611528  3.726977
6   1.384938  3.409559  1.220890  3.129784
7   3.331002  2.167734  1.855623  1.351121
8   1.430007  2.872090  2.829851  3.565950
9   3.682796  2.054448  3.476276  2.671051
10  2.740003  3.325713  3.325992  1.152542
11  2.956201  1.168332  3.308528  2.085084
12  1.753840  3.301446  3.381311  2.837572
13  3.714193  3.599289  2.324491  2.393458
14  3.611099  2.887716  3.618011  3.336578
15  2.112753  1.103192  3.430483  2.567019
16  2.679544  3.462168  2.761924  3.866772
17  1.590558  3.702214  2.109453  2.236501
18  1.114158  1.182331  3.230680  3.296632
19  3.851174  1.332440  1.453805  2.240115

### Exercise 2(b) (5 points)

Compute the `z-score` of each of the columns using the following formula: $$z = \frac{x - mean}{std}$$ where `mean` and the `std` represent the mean and the standard deviation of the values stored in the column, respectively. Create four columns called `z_y1`, `z_y2`, `z_y3`, and `z_y4` that represent the `z-scores` of the `gpa_y1`, `gpa_y2`, `gpa_y3`, and `gpa_y4`, respectively. Make sure the use the `z-score` formula.

In [46]:
for col in ['gpa_y1', 'gpa_y2', 'gpa_y3', 'gpa_y4']:
    mean = df[col].mean()
    std_dev = df[col].std()
    df[f'z_y{col[-1]}'] = (df[col] - mean) / std_dev
    
print(df)

      gpa_y1    gpa_y2    gpa_y3    gpa_y4      z_y1      z_y2      z_y3  \
0   3.577228  3.915520  1.060338  1.626300  1.175036  1.360514 -1.980478
1   2.947124  3.207151  2.392038  3.689616  0.536832  0.653540 -0.384331
2   1.188600  1.612535  3.300089  1.555060 -1.244296 -0.937936  0.704039
3   1.441064  1.876819  2.152659  1.009552 -0.988586 -0.674172 -0.671245
4   1.357139  1.363146  3.409909  3.571896 -1.073590 -1.186833  0.835666
5   1.878675  3.502580  3.611528  3.726977 -0.545351  0.948388  1.077322
6   1.384938  3.409559  1.220890  3.129784 -1.045434  0.855549 -1.788043
7   3.331002  2.167734  1.855623  1.351121  0.925645 -0.383830 -1.027266
8   1.430007  2.872090  2.829851  3.565950 -0.999786  0.319139  0.140422
9   3.682796  2.054448  3.476276  2.671051  1.281961 -0.496893  0.915213
10  2.740003  3.325713  3.325992  1.152542  0.327049  0.771869  0.735086
11  2.956201  1.168332  3.308528  2.085084  0.546026 -1.381264  0.714154
12  1.753840  3.301446  3.381311  2.837572 -0.671790  0.747650  0.801390
13  3.714193  3.599289  2.324491  2.393458  1.313761  1.044906 -0.465292
14  3.611099  2.887716  3.618011  3.336578  1.209342  0.334734  1.085093
15  2.112753  1.103192  3.430483  2.567019 -0.308264 -1.446275  0.860326
16  2.679544  3.462168  2.761924  3.866772  0.265813  0.908056  0.059006
17  1.590558  3.702214  2.109453  2.236501 -0.837171  1.147629 -0.723031
18  1.114158  1.182331  3.230680  3.296632 -1.319695 -1.367293  0.620846
19  3.851174  1.332440  1.453805  2.240115  1.452502 -1.217479 -1.508876

        z_y4
0  -1.052717
1   1.188445
2  -1.130097
3  -1.722625
4   1.060579
5   1.229027
6   0.580359
7  -1.351615
8   1.054120
9   0.082086
10 -1.567310
11 -0.554388
12  0.262961
13 -0.219434
14  0.804977
15 -0.030913
16  1.380872
17 -0.389920
18  0.761588
19 -0.385994

### Exercise 2(c) (5 points)

Create a function called called `standardize` that computes the `z-scores` of a given `pandas` data-frame. Feel free to use the below code skeleton. 

```
def standardize(column):
  """Standardize the values in a column.

  Args:
    column (pandas Series): The data to standardize.

  Returns:
    pandas Series: the values as z-scores
  """
  # Finish the function so that it returns the z-scores
  

```

In [48]:
def standarize(df, columns):
    for col in columns:
        mean = df[col].mean()
        std_dev = df[col].std()
        df[f'z_y{col[-1]}'] = (df[col] - mean) / std_dev
    return df

### Exercise 2(d) (4 points)

Use the function from part 2(c), Create four columns called `z_y1_1`, `z_y2_1`, `z_y3_1`, and `z_y4_1` that represent the `z-scores` of the `gpa_y1`, `gpa_y2`, `gpa_y3`, and `gpa_y4`, respectively.

In [55]:
import numpy as np

data = {
    'gpa_y1': np.random.uniform(1.0, 4.0, 20),
    'gpa_y2': np.random.uniform(1.0, 4.0, 20),
    'gpa_y3': np.random.uniform(1.0, 4.0, 20),
    'gpa_y4': np.random.uniform(1.0, 4.0, 20),
}

df = pd.DataFrame(data)

columns = ['gpa_y1', 'gpa_y2', 'gpa_y3', 'gpa_y4']

df = standarize(df, columns)

print(df)

      gpa_y1    gpa_y2    gpa_y3    gpa_y4      z_y1      z_y2      z_y3  \
0   3.411134  1.980731  3.452196  1.345455  1.056227 -0.631640  0.813426
1   1.969792  1.958140  3.598872  1.951553 -0.749072 -0.660941  0.968802
2   3.534114  3.724413  2.870517  3.078501  1.210262  1.630026  0.197245
3   3.418183  1.966731  2.672693  2.674269  1.065057 -0.649798 -0.012313
4   3.056788  1.794473  3.276072  2.809894  0.612405 -0.873229  0.626855
5   1.732187  3.074522  1.916238  1.337316 -1.046675  0.787076 -0.813638
6   3.795199  3.051798  3.910975  3.698555  1.537274  0.757602  1.299418
7   2.833148  3.428971  1.265160  1.281045  0.332293  1.246820 -1.503334
8   2.472081  1.983735  2.021627  3.718613 -0.119948 -0.627744 -0.701997
9   1.611635  2.335786  3.709494  3.167507 -1.197669 -0.171111  1.085985
10  1.454504  2.796752  1.216500  1.508581 -1.394477  0.426792 -1.554881
11  2.422417  1.414104  2.874143  2.583195 -0.182153 -1.366591  0.201085
12  2.194246  3.780647  1.968370  1.457388 -0.467941  1.702965 -0.758413
13  2.229627  2.750499  3.650875  1.731496 -0.423625  0.366798  1.023889
14  2.171440  1.873748  1.144629  1.358524 -0.496505 -0.770403 -1.631015
15  3.602090  2.411092  3.477492  1.875405  1.295402 -0.073434  0.840222
16  1.672110  3.503599  3.877312  3.907406 -1.121923  1.343617  1.263757
17  1.371256  2.008404  1.942129  2.237190 -1.498747 -0.595746 -0.786210
18  2.913673  2.450348  1.799380  3.834110  0.433151 -0.022517 -0.937427
19  3.491320  1.065663  3.041664  2.728801  1.156662 -1.818541  0.378543

        z_y4
0  -1.150560
1  -0.498088
2   0.715085
3   0.279924
4   0.425926
5  -1.159322
6   1.382580
7  -1.219899
8   1.404174
9   0.810901
10 -0.974953
11  0.181882
12 -1.030063
13 -0.734983
14 -1.136491
15 -0.580063
16  1.607411
17 -0.190597
18  1.528507
19  0.338629

### Exercise 2(e) (5 points)

Another student has written this function to calculate the mean and median of a list. You want to show them how to split it into two simpler functions: `mean()` and `median()`.

```
def mean_and_median(values):
  """Get the mean and median of a list of 'values'

  Args:
    values (iterable of float): A list of numbers

  Returns:
    tuple (float, float): The mean and median
  """
  mean = sum(values) / len(values)
  midpoint = int(len(values) / 2)
  if len(values) % 2 == 0:
    median = (values[midpoint - 1] + values[midpoint]) / 2
  else:
    median = values[midpoint]

  return mean, median
```

Split the above function into two functions called `mean()` and `median()`.

In [52]:
def mean(values):
  mean = sum(values) / len(values)
  return mean

def median(values):
  midpoint = int(len(values) / 2)
  if len(values) % 2 == 0:
    median = (values[midpoint - 1] + values[midpoint]) / 2
  else:
    median = values[midpoint]

  return median

### Exercise 2(f) (4 points)

Using the functions from part 2(e), report the mean and median of `gpa_y3`.

In [57]:
print('mean:', mean(df['gpa_y3']))
print('median:', median(df['gpa_y3']))

mean: 2.68431685817193
median: 2.4629967515032565

### Exercise 2(g) (3 points)

In statistics, the [skewness](https://en.wikipedia.org/wiki/Skewness) of the distribution allows us to have a better understading of the data. A common rules of thumb are:

- If the mean > median, then the distribution is considered right-skew.
- If the mean $\approx$ median, then the distribution is considered symmetric.
- If the mean < median, then the distribution is considered left-skew.

Using the above rules, what can you conclude about the distribution of `gpa_y3`.

Based on these results the distribution would be slightly right-skew