# Exercise 1 

In this exercise, we will keep practicing basic operations with `pandas`. 

### Exercise 1(a) (2 points)

Import the `pandas` library.

In [4]:
import pandas as pd

### Exercise 1(b) (3 points)

Create a data-frame called `euro12` using the data from `Euro_2012_stats_TEAM.csv`.

In [9]:
euro12 = pd.read_csv('Euro_2012_stats_TEAM.csv')
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

### Exercise 1(c) (2 points)

Compute the average number of `Goals`.

In [7]:
euro12['Goals'].mean()

4.75

### Exercise 1(d) (2 points)

How many teams participated in the Euro 2012?

In [17]:
euro12['Team'].nunique()

16

### Exercise 1(e) (3 points)

Create a data-frame called `discipline` using `Team`, `Yellow Cards`, and `Red Cards` from the `euro12` data-frame.

In [20]:
discipline = pd.DataFrame(euro12[['Team', 'Yellow Cards', 'Red Cards']])
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### Exercise 1(f) (3 points)

Sort the `discipline` data-frame based on `Red Cards`.

In [21]:
discipline.sort_values('Red Cards')

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1

### Exercise 1(g) (3 points)

Using the `discipline`, compute the average number of `Yellow Cards`.

In [22]:
discipline['Yellow Cards'].mean()

7.4375

### Exercise 1(h) (3 points)

Using the `euro12` data-frame, report the team that scored more than 6 goals.

In [26]:
euro12[euro12['Goals'] > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

### Exercise 1(i) (3 points)

Using the `euro12` data-frame, report the teams that start with `S`.

In [38]:
euro12[euro12['Team'].str.startswith('S')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18

# Exercise 2 (10 points)

In this exercise, you will use the `Raisin_Dataset.csv`. For more details about the dataset, see this [link](https://www.kaggle.com/datasets/nimapourmoradi/raisin-binary-classification/data).
Here's a practical exercise highlighting modularity's importance in data science by refactoring non-modular code into modular, reusable components. You are given a simple data science task: load a dataset, clean it, perform some feature engineering, train a machine learning model, and evaluate the results. However, the initial code is not modular—it is repetitive and hard to maintain.

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load dataset
df = pd.read_csv('Raisin_Dataset.csv')

# # Clean dataset
df = df.dropna()
df['Area/Perimeter'] = df['Area'] / df['Perimeter']
df['sqrt_area'] = np.sqrt(df['Area'])
df['ext/ecc'] = df['Extent'] / df['Eccentricity']
df['convA/Area'] = df['ConvexArea'] / df['Area']
df['Class'] = df['Class'].map({'Besni':0, 'Kecimen':1})

# Split dataset into training and testing
X = df.drop(columns='Class', axis=1)
y = df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8611111111111112

This script works, but it's not modular. If you needed to modify the data-cleaning process or change the model, you’d have to go through the whole script and make changes in several places. Now, refactor the code into modular, reusable components by turning each logical part into functions. This modular design will make it easier to maintain, test, and reuse for different datasets or models.

In [60]:
def ratio(df, col1, col2):
    df[f'{col1}/{col2}'] = df[col1] / df[col2]
    return df
    
def sqrt(df, col_list):
    for col in col_list:
        df[f'sqrt_{col}'] = np.sqrt(df[col])
    return df

def clean_df(df):
    df = df.dropna()
    df = ratio(df, 'Area', 'Perimeter')
    df = ratio(df, 'Extent', 'Eccentricity')
    df = ratio(df, 'ConvexArea', 'Area')
    df = sqrt(df, ['Area'])
    df['Class'] = df['Class'].map({'Besni':0, 'Kecimen':1})
    return df

In [61]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load dataset
df = pd.read_csv('Raisin_Dataset.csv')

In [62]:
df = clean_df(df)
df.head()

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class,Area/Perimeter,Extent/Eccentricity,ConvexArea/Area,sqrt_Area
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,1,73.919800,0.925479,1.034528,295.844554
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,1,67.005650,0.853237,1.048200,274.164184
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,1,75.176137,0.798660,1.031489,301.423290
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,1,54.406619,1.021329,1.030657,214.308189
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,1,73.988284,1.405596,1.025879,281.794251

In [64]:
# Split dataset into training and testing
X = df.drop(columns='Class', axis=1)
y = df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.85

# Exercise 3 (8 points)

In this exercise, you will time all the component of your answer from Exercise 2. Report the times. 

1. Which part of the code is the bottleneck?
2. What would happen if the dataset grew in size? Would certain parts of the code scale efficiently, or would they slow down significantly?

In [66]:
%%time
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load dataset
df = pd.read_csv('Raisin_Dataset.csv')

CPU times: total: 15.6 ms
Wall time: 4.99 ms

In [67]:
%%time
df = clean_df(df)
df.head()

CPU times: total: 0 ns
Wall time: 3.99 ms

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class,Area/Perimeter,Extent/Eccentricity,ConvexArea/Area,sqrt_Area
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,1,73.919800,0.925479,1.034528,295.844554
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,1,67.005650,0.853237,1.048200,274.164184
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,1,75.176137,0.798660,1.031489,301.423290
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,1,54.406619,1.021329,1.030657,214.308189
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,1,73.988284,1.405596,1.025879,281.794251

In [68]:
%%time
# Split dataset into training and testing
X = df.drop(columns='Class', axis=1)
y = df['Class']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8555555555555555
CPU times: total: 375 ms
Wall time: 360 ms

1. The model runtime is the bottleneck taking the most time to run.
2. If the dataset were to grow in size I would assume the model would take longer to complete but the other chunks of code shouls scale efficiently.