# Exercise 1

This exercise will focus on `groupby`, which is a `pandas` function that is used to split a `DataFrame` into groups based on some criteria.

### Exercise 1(a) (2 points)

Load the `pandas` library.

In [1]:
import pandas as pd

### Exercise 1(b) (2 points)

Read the data-file `drinks.csv` and create a data-frame called `drinks`.

In [2]:
drinks = pd.read_csv('drinks.csv')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### Exercise 1(c) (3 points)

Which contint drinks more beer on average?

In [32]:
drinks.groupby('continent')['beer_servings'].mean().sort_values(ascending=False)

continent
Europe           193.777778
South America    175.083333
North America    145.434783
Oceania           89.687500
Africa            61.471698
Asia              37.045455
Name: beer_servings, dtype: float64

### Exercise 1(d) (3 points)

For each continent, print the summary statistics for wine consumption.

In [12]:
drinks.groupby('continent')['wine_servings'].describe()

               count        mean        std  min   25%    50%     75%    max
continent
Africa          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
Asia            44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
Europe          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
North America   23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
Oceania         16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
South America   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Exercise 1(e) (3 points)

Print the `mean`, `min`, and `max` values for spirit consumption.

In [33]:
drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max'])

                     mean  min  max
continent
Africa          16.339623    0  152
Asia            60.840909    0  326
Europe         132.555556    0  373
North America  165.739130   68  438
Oceania         58.437500    0  254
South America  114.750000   25  302

# Exercise 2

In this exercise, we will practice `lists` in Python.

### Exercise 2(a) (2 points)

Create a list as follows:

```
mylist = [8, 2, 9, 3, 7, 11, 1]
```

In [54]:
mylist = [8,2,9,3,7,11,1]
mylist

[8, 2, 9, 3, 7, 11, 1]

### Exercise 2(b) (3 points)

Report the mean, max, and min values of `mylist`.

In [37]:
sum(mylist) / len(mylist)

5.857142857142857

In [38]:
max(mylist)

11

In [39]:
min(mylist)

1

In [41]:
import numpy as np
print('mean:', np.mean(mylist))
print('min:', np.min(mylist))
print('max:', np.max(mylist))

mean: 5.857142857142857
min: 1
max: 11

### Exercise 2(c) (2 points)

Reverse the order of the elements in `mylist`.

In [42]:
mylist_rev = mylist[::-1]
mylist_rev

[1, 11, 7, 3, 9, 2, 8]

### Exercise 2(d) (2 points)

Find the value 11 in `mylist` and replace it with 22.

In [55]:
mylist[mylist.index(11)] = 22
mylist

[8, 2, 9, 3, 7, 22, 1]

### Exercise 2(e) (2 points)

Using a `for` loop square and add 3 to each of the elements of `mylist`.

In [57]:
for i in range(len(mylist)):
    mylist[i] = mylist[i]**2 + 3
mylist

[67, 7, 84, 12, 52, 487, 4]